body {
    background-color: #0e101c;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f2532;
    padding: 10px;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #141a2d;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1f2532;
}

h2 {
    font-size: 24px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #2d3550;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2d3550;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color : skyblue;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px 10px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

.enlace {
    align-items: center;
    font-size: 30px;
}